extends layout

block content
	div.container.margin-top
		nav.navbar.navbar-default
			div.contailer-fluid
				div.navbar-header
					a.navbar-brand Where's Wally
		div.jumbotron
			h1 Where's Wally
			h3 Gov Hack 2016
			p Put some text here to explain
		div.jumbotron
			h2 Submit File
			form(action="api/upload/identifcationfile", method="post", id="identificationForm" enctype="multipart/form-data")
				input(type="file", name="identificationFile")
			br 
			button.btn.btn-primary(type="button", id="uploadFileButton") Upload and Process



