extends layout

block content
	div.container.margin-top
		//nav.navbar.navbar-default
			div.contailer-fluid
				div.navbar-header
					a.navbar-brand De-Identify Your Data
		div.jumbotron(id="headerSection")
			a(href="https://2016.hackerspace.govhack.org/content/de-identify-your-data-inc")
				img(src="/images/DYDincLogo.png", style="width:150px; height: 80px; float: right;")
			h1 De-Identify Your Data
			a(href="https://www.govhack.org/")
				h3 Gov Hack 2016
			p
				i The purpose of this web application is to allow you to easily upload datasets, select data to 
				a(href="https://en.wikipedia.org/wiki/De-identification") 
					i de-identify
				i , visualise specific aspects of the data, and download a new de-identified data file.
			p How To:
			ol(style="font-size:1.5em;")
				li
					b Upload
					|  your dataset (in .xlsx format) via the form below.
				li 
					b Select
					|  the columns of data you want to keep, remove or 
					a(href="https://en.wikipedia.org/wiki/Pseudonymization") pseudonymise
					| .
				li 
					b Visualise
					|  the data de-identified to answer any specific questions you have.
				li
					b Download
					|  the de-identified dataset and 
					b share 
					| with others who need it!
		div.jumbotron(id="uploadProcessSection")
			div(id="loadingImgDiv", hidden)
				img(src="/images/loading.gif", id="loadingImg")
			div(id="submitFileDiv")
				h1 Start Here!
				p For help in converting CSV/TXT files to XLSX, click&nbsp;
					a(href="https://support.office.com/en-us/article/Import-or-export-text-txt-or-csv-files-5250ac4c-663c-47ce-937b-339e391393ba") here
					| .
				form(action="/upload", method="post", id="identificationForm" enctype="multipart/form-data")
					input(type="file", name="identityfile")
				button.btn.btn-primary(type="button", id="uploadFileButton", style="float:right;") Upload and Process
				br 
			div(id="columnResultsDiv", hidden)
				table.table.table-bordered(id="columnResultsTable")
					tr.header-row
						th(data-toggle="tooltip" title="Name of the column in the uploaded document.") Column name
						th(data-toggle="tooltip" title="Estimated type of the data based on first row of data.") Type
						th(data-toggle="tooltip" title="Select how you would like this data visualised!") Visualisation Option
						th(data-toggle="tooltip" title="Select if you would like data column removed in de-identified raw data") Remove
						th(data-toggle="tooltip" title="Select if you would like data column contents 'scrambled' to remove plain text indentifiers in raw data") Pseudonymise
				div.alert.alert-danger(role="alert" style="text-align:center;", id="deleteDataRecommendationAlert" hidden) Based on the names of one or more columns, some columns have been highlighted as 'high risk' and have been automatically set to be removed from raw data uploaded. They can still be used for data visualisation purposes.
				div.alert.alert-warning(role="alert" style="text-align:center;", id="sensitiveDataFoundAlert" hidden) Based on the content of one or more columns, some columns have been highlighted as 'potential risks' and have been automatically set to be pseudonymised from raw data uploaded. They can still be used for data visualisation purposes.
				button.btn.btn-danger(type="button", id="cancelOutputButton", style="float:left;") Cancel
				button.btn.btn-primary(type="button", id="generateOutputButton", style="float:right;") Submit and Process
		div.jumbotron(id="graphVisualisationSection", hidden)
			div(id="graphAreaSection")
				h2 Graphical Visualisations
