doctype html
html
  head
    title= title
    script(src='/javascripts/jquery-3.1.0.min.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/d3.v4.min.js')
    script(src='/javascripts/nv.d3.min.js')
    script(src='/upload.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.css')
    link(rel='stylesheet', href='/stylesheets/custom-style.css')
    link(rel='stylesheet', href='/stylesheets/nv.d3.css')
  body
    block content